server:
  port: 8081

spring:
  application:
    name: auth-service

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: false
    hostname: localhost

jwt:
  access-token-expiration: 900000
  refresh-token-expiration: 604800000
