server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/DB_NAME
    username: DB_USERNAME
    password: DB_PASSWORD
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: false
    hostname: localhost

jwt:
  access-secret: ACCESS_JWT_SECRET
  refresh-secret: REFRESH_JWT_SECRET
  access-token-expiration: 900000        # 15 minutes
  refresh-token-expiration: 604800000    # 7 days
